.toggleButton {
  padding: 10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  border: solid 2px black;
  cursor: pointer;
  transition: all 0.25s;
}

.toggleButtonSelected {
  padding: 10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: solid 2px white;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}
